<div class="container">
  <div class="form-group">
    <div class="row">

      <div class="col-md-6">
        <form [formGroup]="formChamado">

          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control btnFull" placeholder="Nome" required />
            </div>

            <div class="col">
              <input type="email" class="form-control btnFull" placeholder="E-mail" />
            </div>
          </div>

        </form>

        <form [formGroup]="formOcorrencia">
          <div class="form-group">
            <select id="inputState" class="form-control" formControlName="lab">
              <option selected>Laboratorio...</option>
              <option>Lab 001</option>
              <option>Lab 002</option>
              <option>Lab 003</option>
            </select>
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Descrição</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" rows="3" formControlName="descricao"></textarea>
          </div>

          <button type="btn" class="btn btn-outline-primary btnFull" (click)="addOcorrencia()">
            <i class="fas fa-plus-square"></i>
            Add Ocorrencia
          </button>

        </form>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-2">
            <h5>ID</h5>
          </div>
          <div class="col-sm-8">
            <h5>OCORRENCIA</h5>
          </div>
          <div class="col-sm-2">
            <h5>REMOVE</h5>
          </div>
        </div>
        
        <div *ngFor="let item of formOcorrencia.ocorrencia">
          <div class="col-sm-2">
            <h5> {{ item.id }} </h5>
          </div>
          <div class="col-sm-8">
            <label> {{ item.descricao }} </label>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-outline-danger btnFull">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>

        <button type="submit" class="btn btn-outline-success btnFull">
          <i class="fas fa-envelope"></i>
          Enviar chamado
        </button>

      </div>

    </div>
  </div>
</div>